!!! 5
html(lang="en")
  head
    link(rel="icon" type="image/png" href="/favicon.ico")
    meta(charset="utf-8")
    title
      block title
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script.
      if (window.self !== window.top) {
        top.location = 'http://www.gointothewoods.com';
      }
    != js('header')
    block head
  body
    #fb-root
    block body
