extends layout
block head
  != css('map')
  script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
  script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js")
  != js('map')

block title
  | Washington Trails Map
block body

  #map
  #side-bar

