extends layout
block head
  meta(property="og:description" content="Filter, search and explore trails around Washington state on a map")
  meta(property="og:image" content="http://trailfinder.herokuapp.com//images/og_image.jpg")
  != css('map')
  link(rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css")
  != css('slider')
  script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
  script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js")
  != js('map')
  script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js")
  != js('bootstrap-slider')

block title
  | Trail Finder - WA
block body

  #container
    #map

    #side-bar
      .content

        .trail.hidden
          .btn.back Back to list
          .details

        .controls.hidden
          h3
            img.logo(src="/images/leaf.png")
            | Trail Finder

          input#search(type="text" placeholder="Search")

          .sliders
            .control#roundtrip_m_slider
              input
              .value
              .label_c Roundtrip
              .clear
            .control#trip_reports_count_slider
              input
              .value 
              .label_c Trip Reports
              .clear
            .control#elevation_gain_ft_slider
              input
              .value
              .label_c Elevation Gain
              .clear
            .control#elevation_highest_ft_slider
              input
              .value
              .label_c Elevation Peak
              .clear

          .note

            .app_by
              | app by&nbsp;
              a(href="http://shuw.github.io" target="_blank") shuw

            .disclaimer
              | data from&nbsp;
              a(href="http://www.wta.org/" target="_blank") wta.org

            .clear


          #search_results
            .title
            .top

          #sharing
            .fb-like(data-href="http://trailfinder.herokuapp.com/" data-width="200" data-layout="button_count" data-show-faces="false" data-send="false")
            a.twitter-share(href="https://twitter.com/share" class="twitter-share-button" data-url="http://trailfinder.herokuapp.com/" data-text="Explore hiking trails in WA - ")

