extends layout
block head
  != css('map')
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
  != js('map')

block title
  | Washington Trails Map
block body

  #map-canvas

