extends layout
block head
  meta(property="og:description" content="Filter, search and explore hikes around Washington state on a map")
  meta(property="og:image" content="/images/og_image.jpg")
  != css('map')
  != css('bootstrap')
  != css('slider')
  script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
  script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js")
  != js('map')
  != js('bootstrap.min')
  != js('bootstrap-slider')

block title
  | Hike Finder - WA
block body

  #container
    #side-bar
      .content

        .trail.hidden55
          .btn.back Back to list
          .details

        .controls.hidden
          h3 Trails of WA

          input#search(type="text" placeholder="Search")

          .sliders
            .control#roundtrip_m_slider
              input
              .value
              .label_c Roundtrip
              .clear
            .control#trip_reports_count_slider
              input
              .value 
              .label_c Trip Reports
              .clear
            .control#elevation_gain_ft_slider
              input
              .value
              .label_c Elevation Gain
              .clear
            .control#elevation_highest_ft_slider
              input
              .value
              .label_c Elevation Peak
              .clear

          p.disclaimer
            | data from&nbsp;
            a(href="http://www.wta.org/") wta.org

          #search_results
            .title
            .top

    #map

