extends layout
block head
  != css('map')
  != css('bootstrap')
  != css('slider')
  script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
  script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js")
  != js('map')
  != js('bootstrap.min')
  != js('bootstrap-slider')

block title
  | Washington Trails Map
block body

  #container
    #side-bar
      .contents.hidden
        h3 Filters
        .control#roundtrip_slider
          input#roundtrip_slider(name="roundtrip")
          .value
          .label_c Roundtrip
          .clear
        .control#gain_slider
          input#gain_slider(name="gain")
          .value
          .label_c Elevation Gain
          .clear
        .control#peak_slider
          input#peak_slider(name="peak")
          .value
          .label_c Elevation Peak
          .clear
        .control#reports_slider
          input#reports_slider(name="reports")
          .value
          .label_c Trip Reports
          .clear
    #map

