@sidebar_width: 250px;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body, #container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#container {
  position: absolute;
  min-width: 1000px;
}

#side-bar, #map {
  position: absolute;
  height: 100%;
  top: 0;
}

#side-bar {
  background-color: #D0FFC6;
  left: 0;
  width: @sidebar_width;
  height: 100%;

  .contents {
    padding: 10px;

    .control {
      .value, .label {
        margin-top: 8px;
        display: inline-block;
      }
      .value {
        float: left;
      }
      .label {
        float: right;
      }
    }

  }
}

#map {
  left: @sidebar_width;
  right: 0;

  .tooltip {
    width: 300px;
    overflow: hidden;
    
    .info {
      font-size: 11.5px;
    }
  
    h3 {
      font-size: 12px;
      margin: 0 0 5px 0;
    }

    img {
      margin-top: 8px;
      height: 100px;
    }
  }
}

